<div class="container">
  <h5>Registration Form</h5>
  <mat-card class="example-card">
    <form
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit(registrationForm.value)"
      class="form"
    >
      <mat-form-field
        floatLabel="never"
        class="form-element"
        appearance="outline"
      >
        <mat-label>First name<span class="required">*</span></mat-label>
        <input
          type="text"
          matInput
          placeholder="First name"
          pattern="[a-zA-Z][a-zA-Z ]+"
          formControlName="firstname"
        />
        <mat-error> FirstName Required</mat-error>
      </mat-form-field>
      <mat-form-field
        floatLabel="never"
        class="form-element"
        appearance="outline"
      >
        <mat-label>Last name<span class="required">*</span></mat-label>
        <input
          type="text"
          matInput
          placeholder="Last name"
          pattern="[a-zA-Z][a-zA-Z ]+"
          formControlName="lastname"
        />
        <mat-error>LastName Required </mat-error> </mat-form-field
      ><br />
      <mat-form-field
        appearance="outline"
        floatLabel="never"
        class="form-element"
      >
        <mat-label>Contact No<span class="required">*</span></mat-label>
        <input
          matInput
          placeholder="Enter Contact No"
          autocomplete="false"
          pattern="^((\\+91-?)|0)?[0-9]{10}$"
          formControlName="contactNum"
        />
        <mat-error>Enter valid Mob No</mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="never"
        class="form-element"
      >
        <mat-label>E-mail<span class="required">*</span></mat-label>
        <input
          matInput
          placeholder="Enter email"
          autocomplete="false"
          formControlName="email"
        />
        <mat-error>
          <span *ngIf="registrationForm.get('email').errors?.required"
            >Email id required</span
          >
          <span *ngIf="registrationForm.get('email').errors?.email">
            valid email-id</span
          >
        </mat-error> </mat-form-field
      ><br />
      <mat-form-field
        appearance="outline"
        floatLabel="never"
        class="form-element"
      >
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Date Required </mat-error>
      </mat-form-field>

      <mat-form-field
        floatLabel="never"
        class="form-element"
        appearance="outline"
      >
        <mat-label>Address<span class="required">*</span></mat-label>
        <input
          type="text"
          matInput
          placeholder="Address"
          formControlName="address"
        />
        <mat-error>Address Required </mat-error> </mat-form-field
      ><br />
      <mat-form-field
        floatLabel="never"
        class="form-element"
        appearance="outline"
      >
        <mat-label>State<span class="required">*</span></mat-label>
        <input
          type="text"
          matInput
          placeholder="State"
          formControlName="state"
        />
        <mat-error>State Required </mat-error>
      </mat-form-field>
      <mat-form-field
        floatLabel="never"
        class="form-element"
        appearance="outline"
      >
        <mat-label>City<span class="required">*</span></mat-label>
        <input type="text" matInput placeholder="City" formControlName="city" />
        <mat-error>City Required </mat-error> </mat-form-field
      ><br />
      <mat-form-field
        appearance="outline"
        floatLabel="never"
        class="form-element"
      >
        <mat-label>Password<span class="required">*</span></mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        <mat-error>min Length 8 </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="never"
        class="form-element"
      >
        <mat-label>Confirm Password<span class="required">*</span></mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="confirmpassword"
        />
        <mat-error>
          <span *ngIf="registrationForm.get('confirmpassword').errors?.required"
            >confirm password required</span
          >
          <span
            *ngIf="registrationForm.get('confirmpassword').errors?.mustMatch"
          >
            Password must match</span
          >
        </mat-error> </mat-form-field
      ><br />
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button">
          Submit Form
        </button>
      </div>
      <h5 *ngIf="showmessage">Registration completed successfully</h5>
    </form>
  </mat-card>
</div>
